<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Трекер рабочих заданий</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <style>
  .table-hover-cells > tbody > tr > th:hover,
  .table-hover-cells > tbody > tr > td:hover {
    background-color: #f5f5f5;
  }

  .table-hover-cells > tbody > tr.active > th:hover,
  .table-hover-cells > tbody > tr.active > td:hover {
    background-color: #e8e8e8;
  }
</style>
</head>
<body>

<div class="container">
    <h1>Трекер рабочих заданий</h1>

    <form class="form-horizontal" id="search">
        <div class="form-group">
            <label class="control-label col-sm-2" for="sample">Поиск</label>
            <div class="col-sm-10">
                <input id="sample" class="form-control " type="search" placeholder="Введите наименование задачи" autofocus autocomplete="on" />
            </div>
        </div>
    </form>
    <div id="taskList">
    </div>
    <div id="paging">
    </div>
<script>
jQuery(function ($) {

    $("#search").submit(function( event ) {
        event.preventDefault();
        const sample = $("#sample").val();

        if(sample){
            search(sample);
        }
        if(!sample){
            loadPage(0, settings.capacity);
        }
    });

    loadPage(0, settings.capacity);
});

const settings = {
    capacity: 10,
    pagesBefor: 5,
    pagesAfter: 5,
    placesGap: 2,
};

function loadPage(page, capacity) {
    $.ajax({
        type: "GET",
        url: `/api/v1/task/list/${page}/${capacity}/`,
        dataType:"json",
        success: function( data){
            renderTasks(data);
            loadPaging(page, capacity)
            },
        error: function( jqXHR, textStatus, errorThrown){
        },
        timeout:500,
    });
}
function loadPaging(page, capacity) {
    $.ajax({
        type: "GET",
        url: `/api/v1/task/list/amount/`,
        dataType:"json",
        success: function( data){
            renderPaging(page, capacity,data);
            },
        error: function( jqXHR, textStatus, errorThrown){
        },
        timeout:500,
    });
}

function getPagesAmount(capacity,taskCount){
    let isSuccess = taskCount.hasOwnProperty(0);
    let element;
    if(isSuccess){
        element = taskCount[0];
        isSuccess = element .hasOwnProperty("amount");
    }
    let amount;
    if(isSuccess){
        amount = element.amount;
    }

    let pagesLimit = 0;
    let roundLimit = 0;
    if(isSuccess){
        pagesLimit = amount / capacity;
        roundLimit = Math.round(amount / capacity);
    }
    if(pagesLimit>roundLimit){
        roundLimit = roundLimit + 1;
    }
    return roundLimit;
}

function placeOrdinal(pageIndex,printedPages,row){
    row.append($("<td>").text(pageIndex+1).attr( "data-page", pageIndex));
    printedPages.push(pageIndex);
}

function placeCurrent(page, printedPages, row){
    row.append($("<td>").text(page+1).attr( "data-page", page).addClass("bg-success"));
    printedPages.push(page);

    return true;
}

function renderPaging(page, capacity,taskCount) {

    page = parseInt(page);
    capacity = parseInt(capacity);

    const target = $('#paging');
    target.empty();

    let roundLimit = getPagesAmount(capacity,taskCount);
    let isSuccess = typeof roundLimit !== typeof undefined;

    let toStart = false;
    let toFinish = false;
    if(isSuccess){
        toStart = page - settings.placesGap - settings.pagesBefor > 0;
        toFinish = page + settings.placesGap + settings.pagesAfter < roundLimit-1 ;
    }

    let row = $("<tr>");
    const printedPages = [];

    if(isSuccess&&toStart){
        placeOrdinal(0,printedPages,row);
        row.append($("<td>").text(".."));
    }
    let pageOccur = false;
    if(isSuccess&&!toStart){
        for(let index = 0 ; index < 2 ; index++){
            const addLink = (index < roundLimit) && !printedPages.includes(index);
            if(addLink && page !== index){
                placeOrdinal(index,printedPages,row);
            }
            if(addLink && page === index && !printedPages.includes(index)){
                pageOccur = placeCurrent(page, printedPages, row);
            }
        }
    }

    if(isSuccess){
        for(let index = 0 ; index < settings.pagesBefor ; index++){
            const currentPage = index - settings.pagesBefor + page;
            const addLink = (currentPage < roundLimit) && (currentPage > -1) && !printedPages.includes(currentPage);
            if(addLink){
                placeOrdinal(currentPage,printedPages,row);
            }
        }
    }
    if(isSuccess&&!pageOccur && !printedPages.includes(page)){
        pageOccur = placeCurrent(page, printedPages, row);
    }
    if(isSuccess){
            for(let index = 1 ; index < settings.pagesAfter + 1 ; index++){
                const currentPage = index + settings.pagesBefor - settings.pagesAfter + page;
                const addLink = (currentPage < roundLimit) && (currentPage > -1) && !printedPages.includes(currentPage);
                if(addLink){
                    placeOrdinal(currentPage,printedPages,row);
                }
            }
    }

    if(isSuccess&&toFinish&& !printedPages.includes(roundLimit-1)&&!printedPages.includes(roundLimit-2)){
        row.append($("<td>").text(".."));
        printedPages.push(roundLimit-2);
        placeOrdinal(roundLimit-1,printedPages,row);
    }

    if(isSuccess&&!toFinish){
        for(let index = 0 ; index < 2 ; index++){
            const pageIndex = (roundLimit -2 + index);
            const addLink = (pageIndex < roundLimit) && !printedPages.includes(pageIndex);
            if(addLink && page !== index){
                placeOrdinal(pageIndex,printedPages,row);
            }
            if(addLink && page === pageIndex && !printedPages.includes(pageIndex)){
                placeCurrent(page, printedPages, row);
            }
        }
    }

    if(isSuccess){
        const table = $('<table>')
        .addClass("table table-hover-cells table-bordered")
        .append($("<tbody>").append(row));

        target.html(table);

        target.on('click','.table-hover-cells tbody td',function() {
            const page = $(this).attr( "data-page");
            const isSuccess = typeof page !== typeof undefined;
            if(isSuccess){
                loadPage(page, settings.capacity);
            }
        })
    }
}

    function search(sample){
        $('#paging').empty();
        $.ajax({
            type: "GET",
            url: `/api/v1/task/search/${sample}/`,
            dataType:"json",
            success: function( data){
                renderTasks(data);
            },
            error: function( jqXHR, textStatus, errorThrown){
            },
            timeout:500,
        });
    }
    function renderTasks(data) {
        const table = $('<table>').addClass("table table-hover table-bordered");
        table.append(
            $('<thead>').append(
                $('<tr>')
                .append($('<th>').text('Номер задачи'))
                .append($('<th>').text('Заголовок'))
                .append($('<th>').text('Дата выполнения'))
            )
        );
        const content = $('<tbody>');
        $.each(data,function(key,value) {
            const id = value.id;
            content.append(
                $('<tr>').attr( "data-id", id)
                .append($('<td>').text(id))
                .append($('<td>').text(value.title))
                .append($('<td>').text(value.date))
            );
        });
        const target = $('#taskList');
        target.empty();
        target.html(table.append(content));

        target.on('click','tbody tr',function() {
          const id = $(this).attr( "data-id");
          showTask(id);
        })
    }

    function showTask(id) {
        let task;
        $.ajax({
          type: "GET",
          url: `/api/v1/task/${id}/`,
          dataType:"json",
          success: function( data){
              const isSuccess = data.hasOwnProperty(0);
              if(isSuccess){
                  task=data[0];

                  $("#id").text(task.id);
                  $("#title").val(task.title);
                  $("#date").val(task.date);
                  $("#author").val(task.author);
                  $("#status").val(task.status);
                  $("#description").val(task.description);

                  $("#detailTaskView").modal();
              }
          },
          error: function( jqXHR, textStatus, errorThrown){
          },
          timeout:500,
        });
    }

</script>

  <div class="modal fade" id="detailTaskView" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <h4><span class="glyphicon glyphicon-list"></span> Информация по задаче #<span id="id"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="title"><span class="glyphicon glyphicon-text-color"></span> Заголовок</label>
              <input type="text" class="form-control" id="title" placeholder="Значение не задано" disabled>
            </div>
            <div class="form-group">
              <label for="date"><span class="glyphicon glyphicon-time"></span> Дата выполнения</label>
              <input type="text" class="form-control" id="date" placeholder="Значение не задано" disabled>
            </div>
            <div class="form-group">
              <label for="author"><span class="glyphicon glyphicon-user"></span> Автор</label>
              <input type="text" class="form-control" id="author" placeholder="Значение не задано" disabled>
            </div>
            <div class="form-group">
              <label for="status"><span class="glyphicon glyphicon-check"></span> Статус</label>
              <input type="text" class="form-control" id="status" placeholder="Значение не задано" disabled>
            </div>
            <div class="form-group">
              <label for="description"><span class="glyphicon glyphicon-pencil"></span> Описание</label>
              <textarea class="form-control" id="description" placeholder="Значение не задано" disabled></textarea>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>

