<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Трекер рабочих заданий</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/assets/Site/business-process.js"></script>
  <link href="/assets/Site/paging.css" rel="stylesheet">

  <link rel='stylesheet' href='/assets/Site/bundle.css'>
</head>
<body>
</body>
<script src='/assets/Site/bundle.js'></script>
</html>

